In [ ]:
Introduction to tuple datatype

In [ ]:
defi: its immutable define as ()

In [1]:
students=('ammar','aatif','saad','huzefa')
print(students)

('ammar', 'aatif', 'saad', 'huzefa')

In [2]:
type(students)

tuple

In [3]:
print(students[0])

ammar

In [4]:
students[0]='aman' #throw error cause tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [10]:
print(students[0].title())

Ammar

In [11]:
for a in students:
    print(a)

ammar
aatif
saad
huzefa